{% load static %}

<header id='brand'>
	<div class='container'>
		<div class='top-bar'>
			<a href="#brand" class='nav-brand'>TALHA MIRZA</a>

			<a href=""><img src="{% static 'images/hamburger.jpg' %}" class='show-mobile hide-desktop menu' id='menu'></a>
		</div>
		<nav>
			<ul class='show-desktop hide-mobile' id='nav'>
				<li><img src="{% static 'images/cross.png' %}" class='hide-desktop show-mobile cross' id='cross'></li>
				<li><a href="#portfolio" id='home'>Portfolio</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>

		<h1>
			Hey There! Welcome To My Creative World!
		</h1>

		<a href="#first"><img src="/static/images/arrow.png" class="arrow"></a>
	</div>
</header>	