@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

.menu, .cross {
	width:30px;
	float: right;
	cursor: pointer;
}
.hide-mobile {
	display: none;
}

header {
	display: block;
	background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0)), url('/static/images/header.jpg') center no-repeat;
	height: 100vh;
	background-size: cover;
	scroll-snap-align:start;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style: none;
}

.top-bar {
	padding: 20px;
}

.nav-brand {
	color: #F5F0F0;
	font-weight: bold;
	font-size: 19px;
	letter-spacing: 3px;
}

.container {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
}

nav ul {
	display: block;
	background: black;
	height: 100vh;
	width: 95%;
	margin-left: -40px;
	margin-top: -82px;
	padding-top: 150px;
	position: absolute;
	z-index: 8;
}

nav ul li {
	display: block;
	width: 100%;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	height:12%;
	margin-left: -17px;
	font-size: 17px;
}

nav ul li a {
	padding: 15px 25px;
}

nav ul li a:hover {
	font-size: 20px;
	color: #7FDBFF;
	transition: 0.5s;
}

.cross {
	margin-top: -130px;
}

header h1 {
	display: block;
	color: #F5F0F0;
	font-weight: lighter;
	font-size: 40px;
	position: fixed;
	top:40%;
	width:90%;
	text-align: center;
	z-index: 1;
}

.arrow {
	position:fixed;
    bottom:0px;
    left:47%;
	animation: move 1s infinite alternate;
}

@keyframes move {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(-30px);
	}
}

#first {
	display: block;
	background: linear-gradient(rgb(251, 68, 62, 0.5), rgb(251, 68, 62, 0)), url('/static/images/first1.jpg') center no-repeat;
	height: 100vh;
	background-size: cover;
	scroll-snap-align:start;
	position: relative;
	z-index: 10;
}

#first h1 {
	display: block;
	color: #F5F0F0;
	margin: 40vh auto auto auto;
	width:95%;
	text-align: center;
	font-size: 25px;
}

#about {
	display: block;
	background: linear-gradient(rgb(9, 132, 255,0.5), rgb(9, 132, 255, 0)), black top no-repeat;
	height: 100vh;
	background-size: cover;
	position: relative;
	z-index: 10;
	scroll-snap-align:start;
}

#about h1 {
	display: block;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F5F0F0;
	font-size: 30px;
	position: relative;
	margin-top: 10%;
	width:100%;
	text-align: center;
	z-index: -1;
}

figure {
	display: block;
	top:50%;
	margin: auto auto auto auto;
	text-align: center;
	color: #F5F0F0;
}

blockquote {
	font-weight: bold;
	font-size: 19px;
}

figure img {
	margin-top: 40px;
	margin-bottom: 10px;
	border-radius: 50%;
	width:200px;
}

#portfolio {
	display: block;
	background: url('/static/images/portfolio.jpg');
	height: 100vh;
	background-size: cover;
	scroll-snap-align: start;
	position: relative;
	z-index: 10;
}

#portfolio h1 {
	display: block;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F5F0F0;
	margin: 10% auto auto auto;
	width:95%;
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

#contact {
	display: block;
	background: linear-gradient(rgb(9, 132, 255,0.5), rgb(9, 132, 255, 0)), url('/static/images/contact.jpg') , center no-repeat;
	height: 100vh;
	background-size: cover;
	scroll-snap-align:start;
	position: relative;
	z-index: 10;
}

#contact h1 {
	display: block;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #F5F0F0;
	margin: 10% auto auto auto;
	width:95%;
	text-align: center;
	font-size: 30px;
}

form {
	display: block;
	color: white;
	margin: 30px auto auto auto;
	width:95%;
	text-align: center;
	line-height: 200%;
}

input {
	width: 310px;
	text-align:center;
}

.cta {
	display: block;
	width: 100px;
	margin: auto;
	background: #0BC3F8;
	border: 2px solid white;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	transition: 0.5s;
}

.cta:hover {
	color: #0BC3F8;
	background: white;
	border: 2px solid #0BC3F8;
	transition: 0.5s;
}

.all {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 15px;
	margin: auto;
}

.all .card {
	position: relative;
	background: white;
	height: 400px;
	width: 300px;
	margin: 0 auto;
}

.all .card .face {
	position: absolute;
	height: 100%;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	left: 0;
	bottom: 0;
}

.all .card .face.face1 {
	padding: 20px;
}

.all .card .face.face1 .content {
	margin-right: 20px;
}

.all .card .face.face2 {
	background: black;
	transition:0.5s;
	font-size: 40px;
	overflow: hidden;
}

.all .card:hover .face.face2 {
	height: 60px;
	font-size: 1em;
}

.all .card .face.face2 h2{
	font-size: 4em;
	color: white;
	transition: 0.5s;
}

.all .card .face.face2:before {
	content: '';
	position: absolute;
	background: rgba(255,255,255,0.1);
	width: 50%;
	left: 0;
	height: 100%;
}

















@media only screen and (min-width:800px) {
	.hide-desktop {
		display: none;
	}

	.show-desktop {
		display: block;
	}

	.nav-brand, nav ul {
		position: fixed;
		z-index: 11;
	}

	nav ul {
		padding: 0;
		text-align: right;
		height: auto;
		width: 60%;
		margin-top: -25px;
		margin-left: 27%;
		margin-right: 10%;
		background: inherit;
	}

	nav ul li {
		display: inline-flex;
		height: auto;
		width: auto;
	}

	nav ul li a {
		margin-left: 30px;
		padding: 5px;
		color: white;
	}

	nav ul li a:hover {
		color: white;
	}

	#first h1 {
		margin-top: 50vh;
		font-size: 28px;
	}

	
}

@media only screen and (min-width:870px) {
	header h1 {
		animation: type 3s steps(34);
		font-family: 'Montserrat', sans-serif;
		overflow: hidden;
		white-space: nowrap;
		color: #F5F0F0;
		position: relative;
		width:90%;
		z-index: 1;
		display: block;
		margin: 225px auto auto auto;
		text-align:center;
		border-right: 4px solid #F5F0F0;
		width: 34ch;
	}
	@keyframes type {
		0% {
			width: 0ch;
		}
		100% {
			width: 34ch;
		}
	}
}

@media only screen and (min-width:950px) {
	nav ul {
		margin-left: 31%;
	}

	nav ul li a {
		margin-right: 30px;
	}

	#portfolio h1 {
		margin-top: 7%;
	}

	#about h1 {
		margin-top: 7%;
	}

	#contact h1 {
		margin-top: 7%;
	}
}